@charset "UTF-8";

body {
    background-image: url("_imgs/bg-drogon.jpg");
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.meu-nav {
    background-color: rgb(101, 74, 25) !important;
}

.meu-card img {
    height: 270px;
}